#tribe-events-bar {
  .tribe-bar-search-category-filter,
  .tribe-bar-search-filter,
  .tribe-bar-date-filter,
  .tribe-bar-submit {
    float: left;
    width: 25%;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
  }

  #tribe-bar-views {
    .tribe-bar-views-inner {
      padding: 10px 6px 7px 6px;
    }

    .tribe-bar-views-list {
      position: relative;
    }

    li.tribe-bar-views-option {
      display: block;

      &.tribe-bar-active {
        font-weight: bold;
      }
    }
  }

  select {
    display: none;
  }

  .selectric-wrapper {
    .selectric {
      border: none;
      border-bottom: 1px dashed #b9b9b9;

      .label {
        line-height: 20px;
        padding: 5px;
        height: 27px;
        margin-right: 27px;
        margin-left: 0;
        font-size: 15px;
      }

      .button {
        height: 27px;
        width: 27px;
        font-size: 0;
      }
    }
    .selectric-items li {
      padding: 5px;
    }

    &.selectric-open {
      .selectric {
        border-color: transparent;
      }
    }
  }

  .tribe-bar-mini {
    .selectric-wrapper .selectric {
      .label {
        font-size: 12px;
        height: 25px;
      }
      .button {
        height: 25px;
      }
    }
  }

  .tribe-bar-collapse {
    .tribe-bar-search-category-filter,
    .tribe-bar-search-filter,
    .tribe-bar-date-filter,
    .tribe-bar-submit {
      float: none;
      width: 100%;
    }
  }
}

.tribe-events-list {


  .tribe-events-list-separator-month + .type-tribe_events {
    border-top: 0;
  }

  .type-tribe_events {
    border-top: 1px solid #c2c2c2;

    .event-image-wrapper {
      float: left;
      width: 25%;

      @media only screen and (max-width: 768px) {
        float: none;
        width: 100%;
        margin-bottom: 10px;

        .tribe-events-event-image,
        .tribe-events-event-image a,
        .tribe-events-event-image a img {
          width: 100%;
        }
      }

      .tribe-events-event-image {
        float: none;
        margin: 0;
        vertical-align: top;
        a {
          display: inline-block;
          vertical-align: top;

          img {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
          }
        }
      }
    }

    .event-content-wrapper {
      padding-left: 20px;
      float: left;
      width: 75%;
      box-sizing: border-box;

      @media only screen and (max-width: 768px) {
        float: none;
        width: 100%;
        padding-left: 0;
      }

      &.event-without-image {
        padding-left: 0;
        width: 100%;
      }

      .tribe-event-schedule-details {
        line-height: 1em;
        padding-bottom: 3px;
      }

      .tribe-events-event-meta {
        margin-bottom: 3px;

        .tribe-events-venue-details {
          margin-top: 3px;
          margin-bottom: 5px;

          @media only screen and (max-width: 768px) {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            border-top: none;
          }
        }
      }

      .tribe-events-list-event-description {
        p {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}