.single-tribe_events {

  .tribe-events-schedule {
    margin: 20px 0;
    h2 {
      margin: 0;
      font-weight: normal;
    }
  }
  .tribe-events-event-image {
    float: left;
    padding-right: 20px;
  }
  .tribe-events-content {
    ul {
      clear: both;
    }
  }
}