@media only screen and (max-width: 1199px) {

  .sticky-wrapper {
    display: block !important;
  }

  header#header {
    display: block !important;
    position: relative !important;
    margin-bottom: 0;
    padding: 0 !important;

    >div.container {
      display: none !important;
    }
  }

  #topbar {
    margin-bottom: 0;

    li:last-child {
      display: none !important;
    }
  }
}


@media only screen and (max-width: 767px) {
  #topbar {

    .columns,
    .container,
    .topbar-col1 {
      width: 100% !important;
    }

    .topbar-col2 {
      display: none !important;
    }
  }
}

#transparentimage,
#fullimagecenter {
  height: 350px;
  * {
    height: 100%;
  }
  .columns {
    display: table;
    .header-wrapper {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      h1 {
        height: auto;
        padding: 5px;
        display: inline-block;
      }
    }
  }
}