#footer .widget_search input {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px 20px;
    border-radius: 3px;
    color: #A9A9A8;
    text-transform: uppercase;
}

/*#searchform input[placeholder],*/
/*#searchform input::-moz-placeholder,*/
/*#searchform input:-moz-placeholder,*/
/*#searchform input:-ms-input-placeholder,*/
#footer .widget_search input:focus {
    color: #A9A9A8;
}

#footer .widget_search form:before,
#footer a, #footer .widget ul li:after {
    display: none;
}

.widget_search #searchsubmit {
    display: block;
}

#footer .widget_search #searchsubmit {
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/search-icon.png") no-repeat center #73a041;
    margin: 0;
    height: 100%;
    width: 60px;
    border: none;
    color: transparent;
    font-size: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#footer .widget_search form {
    width: 75%;
}

.submit-button .fa-search {
    position: absolute;
    right: 21px;
    top: 35%;
    font-size: 22px;
}

#footer .widget ul li {
    border: none;
}

#wysiwyg_widgets_widget-2 #donate {
    display: block;
    padding: 20px 10px;
    width: auto;
    margin: 10px 0 0;
}

#footer #wysiwyg_widgets_widget-2 img {
    width: 100%;
}

#footer #wysiwyg_widgets_widget-2 p{
    margin: 0;
}

#footer .widget {
    margin-bottom: 15px;
}

#footer .event-item {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#footer .event-item:last-child {
    border: none;
}

#footer .event-item p {
    margin-bottom: 5px;
}

#footer .event-item span {
    display: inline-block;
    float: right;
    margin-right: 25%;
    margin-left: 10px;
}





form.ctct-form label,
form.ctct-form hr,
form.ctct-form sub {
    display: none;
}

form.ctct-form {
    position: relative;
}

form.ctct-form input[type="email"] {
    width: 99.9%;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 85px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: white !important;
}

form.ctct-form input[type="submit"] {
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 0;
}

form.ctct-form input[type="hidden"],
form.ctct-form p {
    display: block;
    vertical-align: top;
}
.ctct-message {
    background: white !important;
}
#footer .tribe-events-list-widget {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

#footer .tribe-events-list-widget ol {
    margin: 0;
}

#footer .tribe-events-list-widget ol li {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#footer .tribe-events-list-widget ol h4 {
    margin-bottom: 0;
    font-size: 13px;
}

#footer .tribe-events-list-widget .tribe-events-widget-link {
    margin-bottom: 0;
}

#footer .tribe-events-list-widget .tribe-events-widget-link a {
    font-size: 12px;
}
#footer .tribe-events-list-widget a {
    display: block;
}
