.header-v1 #navigation > ul {
    float: left;
    background: url("../images/border.jpg") no-repeat right top;
    padding: 10px 5px 0 0;
    margin: 30px 20px 0;

}

#header .container #logo-navigation {
    margin: 0 10px;
    width: auto;
}

#header.header-v1 {
    height: auto;
    padding: 5px 0;
}

.header-v1 #navigation > ul > li {
    height: 50px;
}

.header-v1 #navigation .sub-menu {
    top: 58px;
}

.header-v1 .logo {
    margin-top: 0;
}

#header #navigation > ul > li > a {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 0 4px;
}

#donate {
    margin: 20px 0 0;
    padding: 20px;
    width: 120px;
    border-radius: 3px;
    background: #018755;
    border-color: #018755;
}

#donate:hover {
    background: #4482AC;
    border-color: #4482AC;
}

#navigation .sub-menu li a,
#navigation .sub-menu ul li a {
    padding: 15px 5px;
    text-transform: uppercase;
    font-size: 12px;
}

#header.header-v1 {
    padding-top: 0;
}

#topbar {
    margin-bottom: 5px;
}

#search-top {
    float: none;
}

#topbar .columns {
    float: none;
    display: block;
}

.header-v1 #search-btn {
    float: none;
    line-height: inherit;
    margin: 0;
    width: auto;
}
