$fa-font-path: "../assets/bower_components/components-font-awesome/fonts";
$font-folder: "../assets/fonts";
$image-folder: "../assets/images";

@import "mixins";
@import "components/fonts";

@import "../bower_components/components-font-awesome/scss/font-awesome";
@import "components/uam";
@import "components/selectric";
@import "components/blog";
@import "components/events_index";
@import "components/event_detail";
@import "components/homepage";
@import "components/publications";
@import "components/woocommerce";
@import "components/header";
@import "components/footer";

@import "components/frontend_uploader";