@mixin button-style() {
  padding: 20px 60px !important;
  border-radius: 3px;
  letter-spacing: 1px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  background:#018755 !important;
  border-color:#4482AC !important;
  &:hover{
    background:#4482AC !important;
    border-color: #4482AC !important;
  }
}